// Author:         Marcelo Costa
// Version:        0.2.10

// DEFINE AS VARIAVÉIS 
// PADRÕES DO PROJETO
$mainBackground:    #000;
$mainColor:         #000;
$errorColor:        #000;

// IMPORTA OS ARQUIVOS
// AUXILIARES
@import 'base/reset';
@import 'base/typography';
@import 'base/grid'; 
@import 'base/alignment';
@import 'pages/contact';

/* erro 404
*/
.erro404 {font-weight: 700; color: red;}


/* mapas
*/

.google-maps {
    position: relative;
    padding-bottom: 25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


/* BACK TO TOP
*/

a.back-to-top {
    display: none;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    position: fixed;
    z-index: 2000;
    right: 20px;
    bottom: 50px;
    background: #807d7d url("../img/up-arrow1.png") no-repeat center 47%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
a:hover.back-to-top {
    background-color: #5f5c5c;
}


/* mobile trigger
*/

@media screen and (max-width: 1260px) {


}

@media screen and (max-height: 675px) {


}

@media screen and (max-width: 768px) {


}

