// Author:         Marcelo Costa
// Version:        0.2.10

// DEFINE AS VARIAVÉIS
// PADRÕES DO PROJETO
$mainBackground:    #000;
$mainColor:         #000;
$errorColor:        #000;

// IMPORTA OS ARQUIVOS
// AUXILIARES
@import 'base/reset';
@import 'base/grid';
@import 'base/alignment';
@import 'base/utils';
@import 'pages/contact';
@import 'pages/error404';
@import 'base/typography';

/* mobile trigger
*/

// @media screen and (max-width: 1260px) {


// }

// @media screen and (max-height: 675px) {


// }

// @media screen and (max-width: 768px) {


// }

