// Author:         Marcelo Costa
// Version:        0.2.12

// DEFINE AS VARIAVÉIS
// PADRÕES DO PROJETO

// CORES
$azul-claro:        #00ADEE;
$azul-escuro:       #004DA0;
$azul-escuro1:      #003E94;
$vermelho-claro:    #C8002E;
$vermelho:          #B4001D;
$vermelho-escuro:   #90001D;
$cinza-claro:       #F1F1F2;
$cinza-medio:       #BBBBBB;
$cinza-medio2:      #777575;
$cinza-medio3:      rgb(226, 226, 226);
$cinza-escuro:      #515556;
$verde:             #18B016;

$mainBackground:    #fff;
$mainColor:         $cinza-escuro;
$errorColor:        $vermelho;

$container:			1260px;

// IMPORTA OS ARQUIVOS
// AUXILIARES
@import 'base/reset';
@import 'base/grid';
@import 'base/typography';
@import 'base/alignment';
@import 'base/utils';
@import 'base/top';
@import 'base/footer';
@import 'base/blog';
@import 'base/slider';
@import 'base/forms';
@import 'pages/error404';
@import 'vendor/lightcase.css';

body {
	background-color: $mainBackground;
}

.container {
	width: $container;
	margin: 0 auto;
    display: table;
	// overflow: hidden;
}

@media screen and (max-width: 1260px) {
    .container {
        width: 100%;
    }

}

@media screen and (max-width: 1259px) {

    .containerHome {
        width: 94%;
        margin-left: 3%;
    }
}

strong {
    font-weight: bold;
}


// ===============================================

// PÁGINAS INTERNAS

// ===============================================

.subHeader {
    background-color: $vermelho;
    width: 100%;
    margin-bottom: 30px;
}

    .vidrosTopo {
        background-color: $azul-claro;
    }

    .subHeader h1 {
        color: #fff;
        margin-top: 30px;
        margin-bottom: 30px;
        // font-weight: 900;
    }

.textNormalize {
    font-size: 15px;
}

    .textNormalize p {
        margin-bottom: 20px;
        text-align: justify;
    }

    .textNormalize ul li {
       list-style: square;
       list-style-position: inside;
    }

    .textNormalize img {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width: 100%;
    }

@media screen and (max-width: 768px) {
    .textNormalize img {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .mobileTop30 {
        margin-top: 30px;
    }

}

