/*
 * TYPOGRAPHY
 */

// FONTE PADRÃO CORPO
@import url('https://fonts.googleapis.com/css?family=Lato');
$mainFont: 'Lato', sans-serif;
 
// FONTE PADRÃO TITULOS
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');
$mainTitleFont: 'PT Sans', sans-serif;



html{
  font-family: $mainFont;
  // CALCULA O TAMANHO DA FONTE
  // 100% = 16px
  font-size: 100%;
  font-size: calc(0.875em + 0.1 * (100vw - 60em) / 40);
  font-size: -webkit-calc(87.5% + 0.1 * (100vw - 6000%) / 40);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;  

  // Define o tamanho máximo da fonte
  @media (min-width: 1000px) {
    font-size: calc(107.5%)
  }

}

// DEFINE OS TITULOS
// UTILIZANDO AS VARIÁVEIS 
// DO PROJETO 
h1, h2, h3, h4, h5 {
  font-family: $mainTitleFont;
  color: $mainColor;
  // aplica margem para todos, não sei por usar rem aqui
  margin-top: 1.4rem 0;  
}

h1 {
    font-size: 2.7em; 
    line-height: 1.2em;  
}

h2 {
    font-size: 2.3em;
    line-height: 1.3em;
}

h3 {
    font-size: 1.9em;
    line-height: 1.3em;
}

h4 {
    font-size: 1.5em;
    line-height: 1.3em;
}

h5 {
    font-size: 1.0em;
    line-height: 1.5em;
}

body { 
  font-size: 1.1em;
  line-height: 1.5em;
}

p + p {
  margin-top: 1.5em ;
}

article {
  background-color: blue;
  // Anywhere between 22.5em to 37.5em. Use your discretion 
  max-width: 37.5em
}