/*
 * TYPOGRAPHY
 */

// FONTE PADRÃO CORPO
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans');

$mainFont: 'Open Sans', sans-serif;
$mainTitleFont: 'Lato', sans-serif;

// // These values are the minimum and maximum viewport sizes to apply the font scaling
// $min_width: 400;
// $max_width: 800;
// // These values represent the range of fon-tsize to apply
// // These values effect the base font-size, headings and other elements will scale proportionally
// $min_font: 14px;
// $max_font: 20;

// :root { font-size: #{$min_font}px; }
// // This part is a little bit ugly, I will explain what is going on in a blog post soon.
// @media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
//   :root {
//     font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
//   }
// }
// @media (min-width: #{$max_width}px){
//    :root {
//      font-size: #{$max_font}px;
//    }
// }

html{
  font-family: $mainFont;
  // font-size: $min_font;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// DEFINE OS TITULOS
// UTILIZANDO AS VARIÁVEIS
// DO PROJETO
h1, h2, h3, h4, h5 {
  font-family: $mainTitleFont;
  color: $mainColor;
  // aplica margem para todos, não sei por usar rem aqui
  // margin-top: 1.4rem 0;
}

h1 {
    font-size: 2.7em;
    line-height: 1.2em;
}

h2 {
    font-size: 2.3em;
    line-height: 1.3em;
}

h3 {
    font-size: 1.9em;
    line-height: 1.3em;
}

h4 {
    font-size: 1.5em;
    line-height: 1.3em;
}

h5 {
    font-size: 1.0em;
    line-height: 1.5em;
}

body {
  font-size: 1.0em;
  line-height: 1.5em;
}

p + p {
  margin-top: 1.5em ;
}

// article {
//   background-color: blue;
//   // Anywhere between 22.5em to 37.5em. Use your discretion
//   max-width: 37.5em
// }