/**

  TODO:
  - https://medium.com/@_qichen/responsive-pixel-an-alternative-to-media-query-for-responsive-resizing-1101ae62c5b3
  - https://www.smashingmagazine.com/2016/05/fluid-typography/
  - https://pearsonified.com/typography/
  - https://www.webdesignerdepot.com/2013/11/the-beginners-guide-to-sass/
 */

/*
 * TYPOGRAPHY
 */


// FONTE PADRÃO CORPO
@import url('https://fonts.googleapis.com/css?family=Lato');
$mainFont: 'Lato', sans-serif;
 
// FONTE PADRÃO TITULOS
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');
$mainTitleFont: 'PT Sans', sans-serif;

// DEFINE O TAMANHO
// INICIAL DA FONTE
$mailFontSize: 16px;

html{
  font-family: $mainFont;
  font-size:   $mailFontSize;   // 1rem = 16px
  line-height: 30px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;  
}

// DEFINE OS TITULOS
// UTILIZANDO AS VARIÁVEIS 
// DO PROJETO 
h1, h2, h3, h4, h5 {
	font-family: $mainTitleFont;
	color: $mainColor;
}

h1 {
    font-size: 3rem;
  	margin: 0 0 1rem;
}

h2 {
    font-size: 2.5rem;
	margin: 1rem 0 2rem;
}

h3 {
    font-size: 2rem;
  	margin: 1rem 0;    
}

h4 {
    font-size: 1.5rem;
  	margin: 1rem 0;    
}

h5 {
    font-size: 1.0rem;
  	margin: 1rem 0;    
}

p {
	font-size: 1.0rem;
  	margin: 1rem 0;
}


// @media screen and (max-width: 1260px) {
//   html{
//     font-size: 20px;
//   }
// }

// @media screen and (max-width: 768px) {
//   html{
//     font-size: 16px;
//     line-height: 27px;
//   }
// }

