// ===============================================

// ERRO 404

// ===============================================

.erro404 {
    font-weight: 700;
    color:$cinza-medio;
    font-size: 40px;
    text-align: center;
    width: 100%;
    line-height:45px;
}

.errorIcon {
    font-size: 200px;
    margin-bottom: 25px;
    color: $vermelho ;
}